body {
    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #d2d5da;
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.drawer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 136px;
    bottom: 0;
    color: #bcc0c9;
    background-color: #30333a;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    overflow-y: auto;
    height: 1180px;
    padding-top: 10px;
}

.drawer h5 {
    padding: 0 0 0 10px;
    line-height: 39px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 12px;
    border-bottom: 1px solid #424650;
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 136px;
    right: 0;
    z-index: 10;
    background-color: #d2d5da;
}

.frame {
    height: 550px;
    background-color: #F8F9FB;
    position: relative;
    top: 0;
    opacity: 1;
    max-height: 10000px;
    border-bottom: 1px solid #e6e9ef;
}

.frame:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

.ppt-taxo-tag {
    display: none;
}

.ppt-node-ellipse.root {
    fill: #68BDF6;
    stroke: #5CA8DB;
    stroke-width: 2px;
}

.ppt-node-ellipse.choose {
    fill: #6DCE9E;
    stroke: #60B58B;
    stroke-width: 2px;
}

.ppt-node-ellipse.value {
    fill: #FF756E;
    stroke: #E06760;
    stroke-width: 2px;
}

.ppt-node-ellipse.selected-value {
    fill: #f0b017;
    stroke: #d1a209;
    stroke-width: 2px;
}

.ppt-node-ellipse.selected-root-value {
    fill: #8f5bcc;
    stroke: #6f57ad;
    stroke-width: 2px;
}

.ppt-node-ellipse.group {
    fill: #A5ABB6;
    stroke: #9AA1AC;
    stroke-width: 2px;
}

.ppt-node-text-root {
    font-size: 10px;
    fill: #ffffff;
}

.ppt-node-text-choose {
    font-size: 10px;
    fill: #ffffff;
}

.ppt-node-text-value {
    font-size: 10px;
    fill: #ffffff;
}

.ppt-node-text-group {
    font-size: 10px;
    fill: #ffffff;
}

.ppt-link-relation {
    stroke: #A5ABB6;
    stroke-width: 1px;
    stroke-dasharray: 500;
}

.ppt-link-value {
    stroke: #A5ABB6;
    stroke-width: 1px;
    stroke-dasharray: 500;
}

.ppt-link-hover {
    stroke: #6ac6ff;
}

.ppt-link-text-relation {
    fill: #000000;
    font-size: 10px;
}

.ppt-link-text-relation.value {
    fill: #000000;
    font-size: 10px;
}

.ppt-link-text-value {
    fill: #525863;
}

.ppt-larrow {
    stroke: #9AA1AC;
    stroke-width: 2px;
    fill: #A5ABB6;
}

.ppt-rarrow {
    stroke: #9AA1AC;
    stroke-width: 2px;
    fill: #A5ABB6;
}

.ppt-larrow.enabled {
    fill: #68BDF6;
    stroke: #5CA8DB;
}

.ppt-rarrow.enabled {
    fill: #68BDF6;
    stroke: #5CA8DB;
}

.ppt-count-box.value {
    fill: #FB95AF;
    stroke: #E0849B;
    stroke-width: 2px;
}

.ppt-count-box.root {
    fill: #68BDF6;
    stroke: #5CA8DB;
    stroke-width: 2px;
}

.code-bar {
    background: #fff;
    color: #848790;
    line-height: 39px;
    padding-left: 10px;
    position: relative;
    border-bottom: 1px solid #e6e9ef;
}

.ppt-span, .ppt-span-link {
    color: #848790;
}

.notice-bar {
    color: #fff;
    background-color: #0e78b4;
    height: 39px;
    line-height: 39px;
    padding-left: 10px;
    position: relative;
    border-bottom: 1px solid #e6e9ef;
}

.prompt {
    margin-right: 5px;
    opacity: .5;
    -ms-filter: "alpha(Opacity=50)";
    filter: alpha(opacity=50);
    font-weight: 700;
}

.ppt-node-background-circle {
    fill: #fdcc59;
}

.table-holder {
    max-height: 464px;
    min-height: 151px;
    overflow: auto;
    background: #fff;
}

.ppt-result {
    background-color: #fff;
    border-bottom: 1px solid #ebecec;
    vertical-align: top;
    line-height: 26px;
    padding: 0 16px;
}

.ppt-result:hover {
    background-color: #fff;
}

table.json-object {
    background-color: #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 10px;
}

table.json-object tbody tr td, table.json-object tbody tr th {
    border-bottom: 0;
    color: #666;
    line-height: 26px;
    padding: 2px 10px;
    max-width: 320px;
}

ul {
    list-style-type: none;
    display: block;
    vertical-align: top; /* | top | bottom */
    padding: 0 0 0 10px;
    margin: 0;
}

li {
    text-align: center;
    display: block;
    width: 100px;
    color: #30333a;
    background-color: #9195a0;
    text-shadow: none;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 4px 7px 4px 9px;
    border-radius: 20px;
}

li:hover {
    background-color: #fff;
}

li img {
    display: none;
    vertical-align: middle; /* | top | bottom */
}

.ppt-count {
    cursor: pointer;
    color: #30333a;
}

.ppt-label:hover {
    color: #30333a;
}

.ppt-node-background-circle.disabled {
    fill: #c4c4c4;
}

.ppt-link-relation.disabled {
    stroke: #D3D3D3;
    stroke-width: 1px;
    stroke-dasharray: 500;
}

.ppt-link-text-relation.disabled {
    fill: #d3d3d3;
    font-size: 10px;
}

.ppt-count-box.value.disabled {
    fill: #D3D3D3;
    stroke: #c7c7c7;
    stroke-width: 2px;
    opacity: 0.8;
}

.ppt-node-ellipse.choose.disabled {
    fill: #D3D3D3;
    stroke: #c7c7c7;
}

.ppt-query-constraint-elements {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#popoto-graph:fullscreen {
    width: 100%;
    height: 100%;
}

#popoto-graph:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

#popoto-graph:-moz-full-screen {
    width: 100%;
    height: 100%;
}

#popoto-graph:-ms-fullscreen {
    width: 100%;
    height: 100%;
}